h1 {
    text-align: center;
    color: black;
    font-style: oblique;
    font-family: Helvetica, Arial, sans-serif;

}


h2 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;

}



p {
    font-size: 160%;
    font-style: oblique;
    color: black;
    font-family: sans-serif;


}

#div1 {
    width: 49%;
    height: 800px;
    min-height: 200px;
    background-color: rgb(238, 238, 238);
    box-shadow: 10px 5px 5px black;
    border-width: 10px;
    border-color: black;
    border-style: thick;
    float: left;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Anordnung in einer Spalte */
    justify-content: center;
    align-items: center;

}

#div1 p {
    text-align: center;
    /* Horizontale Zentrierung */
    margin: 0;
    /* Entfernen des standardmäßigen Seitenrands */
}

#div2 {
    width: 50%;
    height: 400px;
    min-height: 200px;
    background-color: rgb(238, 238, 238);
    box-shadow: 10px 5px 5px black;
    border-width: 10px;
    border-color: black;
    border-style: thick;
    float: right;
    margin-bottom: 1%;
    position: relative;

}

#div3 {
    width: 50%;
    height: 400px;
    min-height: 200px;
    background-color: rgb(238, 238, 238);
    box-shadow: 10px 5px 5px black;
    border-width: 10px;
    border-color: black;
    border-style: thick;
    float: right;
    position: relative;
}

.clearfix {
    clear: both;
}

/* Media Query für Bildschirmbreite <= 430 (Mobile) */
@media only screen and (max-width: 430px) {

    #div1,
    #div2,
    #div3 {
        width: 100%;
        float: none;
    }
}

/* Media Query für Bildschirmbreite >= 1920px (Desktop) */
@media only screen and (min-width: 1920px) {

    #div1,
    #div2,
    #div3 {
        width: 49%;
    }

    h1,
    h2,
    p {
        font-size: 48px;
        /* Erhöhung der Schriftgröße für Desktop */
    }
}